.DS_Store
**/.DS_Store

**/__pycache__/
**/*.py[cod]

# Python envs
**/.venv/
**/.venv313/
# Local env files
**/.env
**/.env.*

# Local DB artifacts
**/db.sqlite3*
**/*.sqlite3

# Local static/media outputs
**/staticfiles/
**/media/

# Local dumps/fixtures
**/*.dump
**/data*.json
/backend/.venv
.local/
/backend/.idea
